[2013-09-24 13:53] afawcett opened #1 "Gives repository not found error when there is a dot in the repository name"
Reproduce with

https://githubsfdeploy.herokuapp.com/app/githubdeploy/dhoechst/SmartFactory-for-Force.com

Found some discussion about this Spring framework issue here...

http://stackoverflow.com/questions/2079299/trying-to-create-rest-ful-urls-with-mulitple-dots-in-the-filename-part-sprin

[2013-11-04 16:54] tet3 opened #2 "Doesn't add Documents in repos without package.xml"
In https://github.com/tet3/EventbriteSync there is a src/documents folder with an Eventbrite/ folder and a .png file and accompanying -meta.xml file. When running githubsfdeploy against this package.xml-free repo, the documents and documents/Eventbrite folders are enumerated, but the PNG file itself is missed.

This causes the deployment to fail because the image is referenced in src/applications/

[2013-11-05 21:58] #2 closed, assigned to nobody

[2013-12-07 20:12] afawcett opened #3 "Unable to deploy to sandbox"
Raised from blog comment (Raj)
http://andyinthecloud.com/2013/09/24/deploy-direct-from-github-to-salesforce/

i want to deploy code from github to salesforce (test.salesforce.com) that is sanbox account while using the above mentioned deploy link i am getting following error
Authentication Failed: OAuth login invalid or expired access token
Be sure your Salesforce organization does not have IP res

[2013-12-07 23:38] #3 closed, assigned to nobody

[2014-10-22 20:05] afawcett opened #4 "Support for private repos"

[2014-10-22 20:06] afawcett opened #5 "Auto populate the repo owner and name"
When redirecting from the button on the GitHub repo README

[2015-04-15 12:16] motiko commented on #4
This feature will greatly benefit us. I would like to help with this.
I've created a fork and deployed to heroku but getting an error:
org.apache.jasper.JasperException: Unable to compile class for JSP:
An error occurred at line: 1 in the generated java file
The type java.util.Map$Entry cannot be resolved. It is indirectly referenced from required .class files
==================
I guess this have

[2015-04-16 08:05] afawcett commented on #4
Fantastic, thank you so much for offering to help! :+1:

[2015-04-23 18:40] mshanemc commented on #5
I think this one exists already, right?

[2015-04-23 18:42] mshanemc opened #7 "package generator"
**Enhancement**:

It would be awesome if githubsfdeploy could reach into my org, find the matching metadata components from the repo, and create a (unmanaged) package for me.

The process would conclude with giving me the package URL.

Errors would be any missing components or dependency issues.

[2015-04-29 21:28] afawcett commented on #5
Sorry yes it does, but only if the URL in the Readme passes owner and repo name, what this enhancement is about is automatically determing these without having to pass them. Which makes the use of the URL really simple. It leverages the [Refer in the HTTP header](http://en.wikipedia.org/wiki/HTTP_referer) which will contain the GitHub repo owner and name when the page is redirected to the Git Hub

[2015-04-29 21:30] afawcett commented on #7
So lets elaborate this a bit further...

1. Click button on README file
2. Login to Salesforce
3. Scans repo and scans org
4. Reports and error if missing components between either? What would be a dependency issue?
5. Creates an unmanaged package in the org

What is it your really wanting to achieve here i am wondering?

[2015-05-02 20:21] wes1278 commented on #4
So does this work now? After taking a quick look at the pull request, it seems like @motiko got it working for private Github repos?

Side thought: I would love to get this working with bitbucket. @motiko or @afawcett , any chance you could point me in the right direction for adding this support? I would love to contribute to get bitbucket supported with this tool.

Having the ability to just one-

[2015-05-03 11:57] afawcett commented on #4
It will once merged, still working on tweaking a few implementation details, but its looking really good!

Yeah the BitBucket API's look good, great idea.

I think we would want to build in some abstraction layer for authenticating and getting at a source control repo though, as the main class would start to get to complex i'm sure. So perhaps start with agreeing what such an interface might look

[2015-05-08 18:07] hmosh opened #8 "is it possible to use this with private github repositories?"
Apologies if this isn't the right place to ask.

[2015-05-13 21:24] hmosh commented on #8
I just saw the pull request here: https://github.com/afawcett/githubsfdeploy/pull/6

[2015-05-13 21:24] #8 closed

[2015-05-23 10:23] afawcett commented on #4
Ok, after a bit of playing around this morning i got this deployed. Not sure if its the best strategy retrospectively, but i have two Heroku apps one for production and one for sandbox to support this tool. As the libraries i was using didn't allow dynamic switching of the SF end points. So since the GitHub oAuth callback is now being used, i had to create a new Connected App in my GitHub config.

[2015-05-23 10:23] #4 closed

[2015-06-02 19:22] dhoechst opened #9 "Unable to logout of org to deploy to different org"
If I log in with either the wrong org, or want to install into multiple orgs at once, I can't logout. I'd like to have the ability to logout to choose a new org to log into.

[2015-06-02 19:23] dhoechst opened #10 "If token is revoked on org, error displayed and no way to login."
If I revoke that token in the Salesforce org, I get an error and no way to reauthorize again: Failed to retrive GitHub repository details : com.force.sdk.oauth.exception.ForceOAuthSessionExpirationException.

[2015-06-03 07:36] afawcett commented on #9
The workaround at the moment, would be to close and restart your browser, i know thats not ideal.

[2015-06-03 07:36] afawcett commented on #10
Even if you restart your browser?

[2015-06-03 07:43] motiko commented on #10
Try to access githubsfdeploy.herokuapp.com/logout after revoking access from salesforce.

[2015-06-06 09:10] afawcett commented on #10
Should we put a link to this page in the tool header?

[2015-06-06 09:48] motiko commented on #10
Or even redirecting to it in case of an authentication error to Salesforce. We can put a link to Salesforce oAuth usage page ( or whatever the name of the page where you can revoke access) i did something similar for GitHub oAuth. I also should fix the error message too, it's a bit confusing now .

[2015-06-06 09:50] afawcett commented on #10
:+1:

[2015-06-06 09:51] afawcett commented on #7
@mshanemc let me know your thoughts, it sounds interesting what your proposing, just need to get my head round it some more...

[2015-06-17 06:38] mshanemc commented on #7
The idea is that the repo package.xml is used to build the package.

As is, doing an unmanaged package AND github for source control means keeping the two in sync, plus dealing with the package component selection UI.

Internally, and on the appExchange as Salesforce labs, we do a lot of unmanaged packages.

[2015-06-19 07:49] afawcett commented on #7
Ah "unmanaged" packages! Got it!

[2015-06-19 07:49] afawcett commented on #7
I've re-opened this and marked it as an enhancement.

[2015-07-21 22:47] mshanemc opened #12 "Add support for AuraComponentBundle"
example repo: https://github.com/mshanemc/getPopular

stuff pulled into the /aura folder under src.  This is how forceCLI does lightning; not implemented in SublimeMavens yet.

Support SVG component, styles, controller, assets, design, rendered, helper, and whatever else the dev console lets you build.

In the metadata it has its own manifest file for each bundle.

[2015-07-25 12:25] afawcett commented on #12
Thanks for this! Will take a look.

[2015-08-01 09:05] afawcett opened #13 "Support for Reports"
Try deploying this, https://github.com/afawcett/littlebits-connector.

It gives an error because the tool does not support Report folders.

[2015-08-24 18:59] sswigercs opened #14 "Add support to deploy from a branch within the selected repo"
Could you add support to pull the branches for the selected repo and display in a combobox (defaulted to master) on the githubdeploy.jsp, then utilize the selected branch for the deploy?
As a side note, this could be dependent on #1 because the branches could have a dot (.) in them.
Thanks!

[2015-08-27 08:30] afawcett commented on #14
Yep, added to the list! Thanks for the suggestion. :+1:

[2015-08-28 16:04] dshahin commented on #14
:+1:

[2015-08-28 16:18] dshahin commented on #14
Great idea!  The ability to deploy branches would be a huge feature.

[2016-03-02 02:59] harmoney-vikramk opened #15 "Error in GitHub Deploy Tool : Sandbox Support"
I tried to use the link given to use Deploy to sandbox. It throws the below error message. Screenshot below.

classes/SObjectDataLoaderTest.cls(521,87):Method does not exist or incorrect signature: [SObjectDataLoader.SerializeConfig].addToUserFieldBlackList(Map>)

![image](https://cloud.githubusercontent.com/assets/12439465/13449387/c8687ae8-e08f-11e5-84c5-6f3bb5eff536.png)

[2016-03-04 07:53] afawcett commented on #15
This issues belongs in another repo https://github.com/afawcett/apex-sobjectdataloader/issues/19, please track it over there.

[2016-03-04 07:53] #15 closed

[2016-03-15 08:34] nathanKramer opened #16 "Github API responds with 404 for user owned fork of an Organisation's private repository"
@afawcett re our twitter conversation
I hit an issue with the tool that took me a while to figure out at first.

I tried to deploy a fork of a private repository which was owned by an Organisation I have access to.
`Unhandled Exception : org.eclipse.egit.github.core.client.RequestException: Not Found (404)`

Since it was _my fork_ that was I attempting to deploy, I assumed that it would be treated

[2016-03-15 08:58] nathanKramer commented on #16
In short, I didn't know about how [Third Party Restrictions](https://help.github.com/articles/about-third-party-application-restrictions/) work on Github

[2016-03-16 22:25] afawcett commented on #16
Thanks, great insight! :+1:

[2016-03-17 09:14] afawcett commented on #16
Looks like i need to upgrade my Cedar platform on Heroku, i'll push this update in the next few days and close out this issue. Thanks again!

[2016-04-01 22:40] afawcett commented on #16
I've got this upgraded locally, going to make some enhancements, then i'll push your changes here as well.

[2016-04-02 10:40] afawcett commented on #5
From Heroku button docs, explains why refer doesn't show in private repos...

_Resolve template implicitly. Useful on GitHub-hosted documentation. If you don’t specify a template parameter, Heroku infers it from the location of the button using the referer header (this does not work with private GitHub repos, because no referer header is sent). This makes the button stable under forks of the repos

[2016-04-02 12:25] afawcett commented on #16
I have now deployed this change. Thanks! :+1:

[2016-04-02 12:25] #16 closed

[2016-04-02 12:26] afawcett commented on #5
Enhancement has now been deployed! :+1:

[2016-04-02 12:26] #5 closed

[2016-04-02 15:52] afawcett commented on #13
Fix deployed.

[2016-04-02 15:52] #13 closed

[2016-04-02 15:52] afawcett commented on #12
Fix deployed.

[2016-04-02 17:48] afawcett commented on #9
Spent a couple of hours looking into this, the /logout URL should work, however looks like a [bug/known issue](https://github.com/forcedotcom/java-sdk/blob/master/oauth/src/main/java/com/force/sdk/oauth/connector/ForceOAuthConnector.java#L252) in the Salesforce Spring from what my debugging has discussed. Going to move onto something else for now, i'll reach out to some of the devs to see if this

[2016-04-06 17:27] mshanemc commented on #12
@afawcett  you are a shining example of community awesomeness.  Thank you!

[2016-04-08 06:15] jdcrensh opened #18 "Badge style deploy icon + markdown"
It's become fairly common to see badges (eg: [shields.io](http://shields.io/)) in project READMEs being used for various purposes (build status, coverage, etc). Perhaps this project could switch to providing a deploy icon styled in a similar way, and provided as markdown.

[![deploy to salesforce](https://img.shields.io/badge/salesforce-deploy-blue.svg)](https://githubsfdeploy.herokuapp.com)

[cod

[2016-04-13 20:54] afawcett commented on #18
This is brilliant, how did you create it?

[2016-04-13 20:54] afawcett commented on #12
@mshanemc Thank you kind sir, means a lot! :+1:

[2016-04-13 21:14] jdcrensh commented on #18
I can't take much credit for that. I used "Your Badge" generator near the bottom of [shields.io](shields.io) to build the URL. :wine_glass:

[2016-05-10 23:10] mshanemc opened #19 "Failed errorInternal Server Error"
trying to deploy this repo:

https://githubsfdeploy.herokuapp.com/app/githubdeploy/mshanemc/ng-kitbag'

Get
Failed errorInternal Server Error as a popup.

[2016-05-12 03:41] afawcett commented on #19
Its because you don't have a package.xml, so the tool falls back to trying to create a package.xml on the fly, trouble is this mode depends on your repo being a certain shape, which i don't recall the details on right now. I would personally recommend you add a package.xml, the mode to auto generate it tbh makes a few assumptions which might not work for all MD types and i'm not sure really can be

[2016-05-12 16:13] mshanemc commented on #19
Great, thanks.   I'll put the package.xml on all repos.

Just FYI, your previous button code had been working without package.xml, so there may be other people whose package buttons broke with the change.

[2016-05-13 02:59] afawcett commented on #19
Ah ok, thanks for that, a regression is for sure a bug, i'll keep this open!

[2016-05-17 08:20] rashminirmal opened #20 "Duplicate Username Error"
ChatterOrgChartControllerTest class 	test_get_users method returned this error : System.DmlException: Insert failed. First exception on row 0; first error: DUPLICATE_USERNAME, Duplicate Username.<br>The username already exists in this or another Salesforce organization. Usernames must be unique across all Salesforce organizations. To resolve, use a different username (it doesn't need to match the

[2016-05-18 01:25] DouglasCAyers commented on #20
Thanks @rashminirmal. This is being handled at https://github.com/DouglasCAyers/sfdc-chatter-org-chart/pull/4

[2016-05-26 19:47] renatoliveira opened #21 "OAuth error when deploying package"
Trying to deploy the following package:

https://githubsfdeploy.herokuapp.com/?owner=SalesforceFoundation&repo=visualforce-typeahead

gives me the following error:

When I clicked the link, Production / Develoepr was the option, and I didn't change the names of the owner or repository. The organization is a Developer Edition, do I need to change some configuration on the org to allow the tool to d

[2016-05-30 16:46] afawcett commented on #20
Thanks @DouglasCAyers, i'll close this issue out then, thanks for the update!

[2016-05-30 16:46] #20 closed

[2016-05-30 16:47] jdrishe commented on #21
Hello Andy,
As we spoke about on your personal website, also having some trouble with the deploy button to push apex wrapper code to my dev org. Looks like it's the same issue as above.

Steps to reproduce:
I do get the prompt to select production - developer / sandbox as well as the Owner and Repository upon pressing the deploy button.
I leave it as Production - Developer and keep the Owner at fi

[2016-05-30 17:01] afawcett commented on #21
Ok thanks, i'll have a look at this, my domain might be it, does it work in a fresh DE org setup from developer.salesforce.com?

[2016-05-30 17:08] renatoliveira commented on #21
Andrew, I don't know if my DE org counts exactly as fresh, but I can tell you that it was created on 15 Mar. It is pretty new, and I only made some minor development (objects and pages). Nothing major that would affect deployments, in my opinion. Almost fresh, I'd say.

[2016-05-30 17:34] afawcett commented on #21
Yep looks like a TLS 1.0 issue, standby...

[2016-05-30 18:01] afawcett commented on #21
This should be sorted now, can you retry? (close and restart your browser).

[2016-05-30 19:08] renatoliveira commented on #21
Yes, it worked now flawlessly! Thank you. Great tool, man!

[2016-05-30 19:08] #21 closed

[2016-05-30 19:27] jdrishe commented on #21
worked for me as well, thanks Andy!

[2016-05-31 16:58] cipherstream opened #22 "Getting an "Application Error" when attempting to deploy fflib-apex-mocks to a Sandbox"
Greetings!

Thanks so much for providing the GitHub deployment tool.  I've used it successfully to deploy both the fflib-apex-mocks and the apex commons libraries into a couple of different sandboxes.  However, this time, when I'm attempting to deploy the apex mocks library into a "QA" sandbox; I get the following error:

This occurs when I select "sandbox" and have *Owner:* set as *financialforce

[2016-05-31 17:12] cipherstream commented on #22
Reading the comments in the blog page for this tool, I note that someone else had the same problem back in March.  It appears that you repaired the situation by restarting the Heroku container for that tool.  Do you think the same issue could be causing my error as well?

[2016-05-31 20:00] afawcett commented on #22
Try again now, should be fixed.

[2016-05-31 20:14] cipherstream commented on #22
Sweet. Problem is solved.  Was the issue with the Heroku instance?

[2016-06-01 21:04] afawcett commented on #22
Miss configuration by an admin in a rush! ;-)

[2016-06-01 21:04] #22 closed

[2016-06-13 15:45] scottpelak opened #23 "Sandbox Deploy doesn't support TLS 1.1+"
First, thanks for the awesome tool.

Today, Monday 2016-06-13, I tried deploying a GitHub project to a Sandbox via [https://githubsfdeploy-sandbox.herokuapp.com/app/githubdeploy/flexchecks/flexchecks](https://githubsfdeploy-sandbox.herokuapp.com/app/githubdeploy/flexchecks/flexchecks).  (_Note:  It's a private repo_)  It asked me to log in to my Sandbox User, but the authentication failed:

II dea

[2016-06-13 18:51] afawcett commented on #23
Sorry about that, can you try again please?

[2016-06-13 19:06] scottpelak commented on #23
I activated the "Require TLS 1.1 or higher for HTTPS connections" Salesforce Critical Update in my Sandbox, and I'm able to log in successfully.

Thanks!

[2016-06-13 19:59] afawcett commented on #23
Excellent!

[2016-06-13 19:59] #23 closed

[2016-07-26 15:18] wnourse opened #24 "Failure to deploy due to error parsing content in Readme.md file"
Hi Andy, I'm running into the same issue that Kevin Fielding posted to the blog.  I've got a repo (https://github.com/wnourse/apex-guidestar) that won't deploy, throwing the following error:

Deployment Complete
Failures:
customMetadata/README.md(1,1):Error parsing file: Content is not allowed in prolog.

Any idea?

[2016-07-30 13:18] afawcett commented on #24
Hmmmm nothing at present, i'll take a look though.

[2016-08-03 18:07] ankushsomani09 commented on #24
I saw the issued Repo. It doesn't has package.xml file.
When ever this error appear `Error parsing file: Content is not allowed in prolog.` . It comes due to repo don't have package.xml file in src folder.

[2016-08-05 21:16] afawcett commented on #24
@ankushsomani09 great connection, thanks!

[2016-08-06 09:28] ankushsomani09 commented on #24
@wnourse : It still not solved. I tried renaming file README.Md to README. Then it worked.
Actually If we keep it readme.md, then while deploying it take this file also in deployment consideration.

There might be different solution to this, but temporary one is to rename this file.
cc: @afawcett

[2016-09-26 12:31] ghost opened #25 "OAuth Error after access granted"
- New Developer Edition organization, no IP restrictions
- "Grant access" dialog appears after clicking on the "Login to Salesforce" button
- OAuth Error message after access granted:

URL looks correctly:
https://githubsfdeploy.herokuapp.com/_auth?code=aPrxSV6UAcNrPEkEccurRd63fzSaoVf49aHsFeMABXkEjhzzsxq0wn8MJxoNdc5pfT_SE0GZEw%3D%3D&state=https%3A%2F%2Fgithubsfdeploy.herokuapp.com%2Fapp%2Fgithubde

[2016-09-28 08:16] LarryKlugerDS commented on #25
Thank you for the software! Unfortunately I'm having the same issue as @skoritsbl . Everything was working fine, but now I receive the oauth failure with a fresh DE after approving OAuth access to the button:

Authentication Failed: OAuth login invalid or expired access token
Be sure your Salesforce organization does not have IP restrictions. Logout and try with another user or organization.

The

[2016-09-28 10:33] LarryKlugerDS commented on #25
A guess is that the problem may be related to TLS 1.1 restrictions. My new DE had the restriction turned on by default. This is a change since last week or so. While I deactivated the restriction for API access, it might still be effect for OAuth operations....

[2016-09-29 07:03] skoritsbl commented on #25
I found the way to made it work on a new Developer Editions! I deactivated the TLS 1.1 update under "Critical Updates", then I revoked all the existing authentications, logged out and cleared cookies. Now it works! For some of DE it takes a time (up to 12h) to get OAuth operations affected after TLS 1.1 disabled.

[2016-09-30 15:22] ledfordbk commented on #25
12 hours.. ugh

[2016-09-30 19:42] wes1278 commented on #9
I ran into this issue as well. The /logout url worked perfectly for me. Can we perhaps, (one day long after Dreamforce is over ) convert this issue to an enhancement to add a "Logout" button to the UI?

[2016-11-04 20:15] ImJohnMDaniel commented on #14
Hey @afawcett.  Any movement on this enhancement, by chance?  Any thoughts about how to implement?  I ask because I have a similar requirement and this feature might just do the trick. Please let me know when you can.  Cheers!

[2016-12-04 20:14] afawcett commented on #14
Yep i'll get on this soon!

[2016-12-04 20:16] afawcett commented on #24
Thanks for sharing @ankushsomani09

[2016-12-04 20:17] afawcett commented on #9
Warming up for another blast of work on this tool... 👍

[2016-12-04 20:20] afawcett commented on #25
Thanks everyone for sharing your experiences. I have seen this issue of late as well, i suspect there is a number of root causes actually. Since the tool should not required the TLS v1.1 to be deactivated now. Is this still the case, can anyone confirm or not?

[2017-04-17 04:19] #18 closed

[2017-04-17 04:20] afawcett commented on #14
Done! 👍 Blog on its way.

[2017-04-17 04:20] #14 closed

[2017-04-19 13:31] ImJohnMDaniel opened #26 "Selected branch/tag is lost when use needs to authenticate to org"
@afawcett - It would seem that the branch/tag that is specified when you start the process is lost if the user has to authenticate to GitHub.  If the GitHub Salesforce Deploy Tool is already authenticated to the org, then the branch/tag specified is retained.

[2017-04-21 01:54] afawcett commented on #26
Fixed! 👍

[2017-04-21 01:54] #26 closed

[2017-04-27 11:26] ombr opened #27 "Do not require a github login"
Is there any way to deploy to salesforce without requiring a github account ?

I would like to use this or something similar to simplify the life of salesforce admin, but they do not have a github account.

Thanks.

[2017-04-30 10:13] sjurgis commented on #27
Hey I am having the same issue. It's requiring ridiculous permissions full read & write to all public and private permissions!!!
@afawcett I think you just broke thousands of projects with this release.

[2017-05-19 15:31] up2go-rsoesemann commented on #12
@afawcett I still can't get this working in repos with an aura folder. I made a fork of the Strike components here https://github.com/Up2Go/Strike-Components and modified the README accordingly. But it seems not to recognize the Aura sub folders:

<img width="913" alt="bildschirmfoto 2017-05-19 um 17 30 11" src="https://cloud.githubusercontent.com/assets/8180281/26255082/d9411ba0-3cb8-11e7-8dda-dc

[2017-05-21 16:30] afawcett commented on #12
I'll take a look.

[2017-05-23 19:44] up2go-rsoesemann commented on #12
I forgot to add a package.xml. After I added one everything worked perfectly. You can safely close this. Thanks for this great tool.

[2017-05-27 18:57] afawcett commented on #27
Wow ok.... i'll get onto this...

The Private GitHub work was added by another dev, which i of course reviewed, but did not notice it seems to always want GitHub login access regardless of public or private. I did not think i regressed or changed any behaviour regarding the private GitHub support. But maybe i did.... Basically i'm going to do two things then...

A) Make sure it only needs GitHub l

[2017-05-27 18:59] afawcett commented on #12
Ah ha, ok, thanks.

[2017-05-27 18:59] #12 closed

[2017-05-28 06:56] #25 closed

[2017-05-28 16:54] motiko commented on #27
Hi,
Its me who implemented the private repos feature. If i remember correctly it was going to oauth process only if fetching github repository failed. In some catch block if i recall right (it was a long time ago)
Anyway let me know if you have any questions.

[2017-05-28 17:29] afawcett commented on #27
@motiko yep, and it was me that broke it! Just found out why...so i'll push the fix shortly. One thing i cannot find though is how to change the oAuth scope permissions? I'll keep searching in the meantime...

[2017-05-28 17:37] afawcett opened #28 "Review permissions required for private Repo ussage"
Need to reduce the permission required, this tool only needs read.

[Screenshot of permissions required](http://imgur.com/a/raCzj)

[2017-05-28 17:38] afawcett commented on #27
Ok, i've pushed a fix for this and opened a new issue to review the access https://github.com/afawcett/githubsfdeploy/issues/28.

[2017-05-28 17:38] #27 closed

[2017-08-24 16:29] mjacquet opened #29 "Support for releases (and package.zip)"
Hi,

I am using Travis-Ci to build my SFDX metadata (what's in the repo), and output a package.zip that is attached to a github release (the package.zip is NOT with the source but as a binary on the release). I'd love to be able to add a button on my readme for one click deploy of the latest package.zip (ie: the one attached to the latest release /releases/latest)

Thx!

[2017-08-31 08:55] up2go-rsoesemann commented on #1
Same for https://github.com/mbotos/Automated-Testing-for-Force.com. Tro to PR a to @mbotos but it failed for the same reason.

[2017-11-21 00:30] kgowru commented on #29
+1!

@afawcett Can you add support for v41.0 by updating packageManifest.setVersion("41.0"); on line 308 of GitHubSalesforceDeployController.java. I am trying to update this on my own fork but I am not sure what all environment variables I need to have set up for this app.

[2017-11-25 22:56] afawcett commented on #29
@kgowru done 👍

[2017-11-25 22:57] afawcett commented on #29
btw @kgowru you can also include the package.xml in your repo and then you have full control

[2017-12-28 22:40] jschneider-nexgen commented on #24
FYI.  Renamed file to README.markdown and it ignored the readme during deployment

[2018-01-17 19:45] jorge0136 commented on #1
For the above issue when installing the 'Automated-Testing-for-Force.com' repo I was able to resolve this issue by adding '.git' to the end of the string.

This causes an error.

This does not.

[2018-02-02 15:03] joseph-ortiz opened #30 "deploy package to scratch org"
I would like a way to install a package to scratch org. When logging into the salesforce, i am returned to the githubsfdeploy page and I received the following error. I checked and the org does not have IP restrictions. The user installing the package is a system administrator

[2018-02-03 20:01] afawcett commented on #30
To install the package into a Scratch Org take the package ID from an install URL (see README) and use the Salesforce DX Command Line, https://developer.salesforce.com/docs/atlas.en-us.sfdx_dev.meta/sfdx_dev/sfdx_dev_dev2gp_install_pkg_cli.htm

[2018-02-03 20:01] #30 closed

[2018-02-03 20:03] afawcett commented on #30
Actually @joseph-ortiz i thought you ment the DLRS package, my bad. The answer above is correct if you ment "managed package" which is kind of installer for Salesforce apps. But... if you just ment code from a GitHub repo check out http://www.wadewegner.com/2017/09/deploy-to-salesforce-dx/

[2018-02-03 20:03] afawcett commented on #1
Thanks @jorge0136 for sharing!

[2018-03-02 15:33] gaskaj opened #31 "Logout"
Was trying to validate the tool would work with multiple instances of Salesforce. When I click on the user it continually defaults or caches salesforce credentials. Can you add a logout button where login does not default to last used credentials.

Example:
Org1 Sandbox : Deploy
Org2 Sandbox : Deploy

[2018-06-01 13:38] datapharmer opened #33 "Select Tests instead of All Org Tests being run"
There should be an option to run only tests from github or only selected tests instead of running all tests in the org.

[2018-06-24 06:14] afawcett commented on #33
Interesting... so its running all unmanaged tests in the org and not just the repo tests? If so, that should be any easy fix as i think there is now a header option to run only the deployed tests.

[2018-06-25 03:22] datapharmer commented on #33
Correct, that was my experience. Adding the header option would certainly be useful.

[2018-08-14 10:12] pranayjswl007 opened #34 "Un-Deploy from Salesforce"
Few admins in my org keep on installing things from GIT repos but then its kinda pain to delete them when its not needed. Can you do something with destructive changesets that will make uninstalling easy?

[2018-08-23 16:14] ittookten commented on #31
this would be much appreciated functionality!

[2018-12-15 20:28] afawcett opened #35 "Problem with latest DE orgs?"
From my blog...

Hi Andy
This really very helpful tool, thanks for it. We are using it to deploy report and dashboard for our clients. It work fine with DEV orgs and Sandboxes, but starting this week if we create new DEV org instances and try to use GitHub Salesforce Deploy Tool in Authorization step we get OAuth Error(http://prntscr.com/ljrujg). We compare and check all settings, all looks fine.

[2019-01-08 22:02] thedges commented on #35
Hey Andy...please find some time to investigate this. It's been a nagging problem now for atleast 3 months or so.

[2019-01-14 16:16] salahayoubi commented on #35
Hey Andy.  Have you been able to take a look at the issue?  Getting many SEs asking about it.  Thanks! :)

[2019-01-18 20:54] MouDas commented on #35
Hi Guys ...there is a workaround. If you just download the code onto your desktop and use the IDE (Eclipse is what I used) to deploy to the server then the component works fine. Here is a link to the doc I put together for the steps I used. https://salesforce.quip.com/tXl3Av5ZPqCF

[2019-01-18 20:55] MouDas commented on #35
FYI @afawcett  not sure how the Deploy to Salesforce button works but just wanted to let you know that in the mean time you can let folks know to download the code and deploy through an IDE and it works fine.

[2019-01-21 07:47] afawcett commented on #35
@thedges understood will try to look this weekend... gradually catching up! 👍

[2019-01-31 03:17] jschneider-nexgen commented on #35
We are running into the same issue.

[2019-02-02 11:15] SalesforceBobLightning opened #36 "Error: error=invalid_client_id&error_description=client%20identifier%20invalid"
I am trying to deploy to a sandbox.

When I try and deploy this repo: [apex-lambda](https://github.com/ipavlic/apex-lambda)

I get this error:

[2019-02-03 03:34] jschneider-nexgen opened #37 "Cannot successfully deploy to any org"
It's failing in the very beginning.  Every attempt to any org I get.

**We can't authorize you because of an OAuth error. For more information, contact your Salesforce administrator.

1800 : There was a problem in setting up your remote access**

[2019-02-04 20:56] thedges commented on #35
Hey Andy...do you have a managed package that contains your connected app details. Asking as the connected app I see in new orgs doesn't look same as connected app definition in old orgs. I thought I would try to deploy package from scratch in org to see if that helps.

Question...how does the connected app get installed originally as I never go through Setup to create it?

[2019-02-13 04:03] jschneider-nexgen commented on #35
@afawcett any luck?  We lean on this heavily and Salesforce Partner Support hasn't been able to identify what the possible cause of the error 1800 might be.

[2019-02-23 16:59] afawcett commented on #35
@jschneider-nexgen looking now folks... sorry about the long delay on getting round to this...standby a little longer.... i'm on it! 👍

[2019-02-23 17:32] afawcett commented on #35
Ok it looks like the org i used to manage the connected app for this tool has been deleted, which is likely causing the issue for new orgs. I'm going to create a new connected app, update the tool and create a package with the connected app in. Which although the package will not be required to be installed will ensure (as a packaging org) that Salesforce's org purge process does not delete it in

[2019-02-23 17:33] derekdanderson commented on #35
@afawcett You are the best!

[2019-02-23 22:24] afawcett commented on #37
This has now been fixed.

[2019-02-23 22:24] #37 closed

[2019-02-23 22:25] afawcett commented on #36
This has now been fixed.

[2019-02-23 22:25] #36 closed

[2019-02-23 22:26] afawcett commented on #35
Really really sorry for taking so long on this! Should be up and running now! 👍

[2019-02-23 22:26] #35 closed

[2019-02-24 01:33] jschneider-nexgen commented on #37
@afawcett If we ever meet in person, I will buy you at least one drink.  Thanks!

[2019-02-24 02:32] thedges commented on #35
Thanks Andy. This will help out a lot of people.

On Sat, Feb 23, 2019 at 11:32 AM Andrew Fawcett <notifications@github.com>
wrote:

--
Troy Hedges

Solution Engineering | North America Public Sector
Mobile: 512-484-5384

<http://www.salesforce.com/signature>
--

<http://smart.salesforce.com/sig/thedges//pbu_sl/default/link.html>

[2019-04-04 01:11] dmgerow opened #39 "Lightning Web Component Missing from View"
Hello,

I converted a DX project with web components and an apex class into msapi format so that I could use this button, This is my package:

[code]

When I use the button, it pulls the data from github, but nothing from the web components folder shows
![image](https://user-images.githubusercontent.com/8942891/55522542-08b31200-564b-11e9-8163-83f303219528.png)

When I click deploy it works, so th

[2019-04-05 20:08] iskilia commented on #39
I also have this issue too!

[2019-11-23 23:55] HenryRLee opened #40 "Failure parsing repository path that contains a dot"
When I used this URL https://githubsfdeploy.herokuapp.com/app/githubdeploy/Click-To-Cloud/Query.apex, the webserver throws an error saying "Could not find the repository 'query'. Ensure it is spelt correctly and that it is owned by 'Click-To-Cloud'".

The repository https://github.com/Click-to-Cloud/Query.apex does exist. I think the webserver has a bug when parsing the repository path and drop th

[2020-01-23 08:48] simonsalesforce commented on #19
Hi Andy,
I am trying to deploy into my sandbox but i am getting the Internal Server error. I am unsure if I am using the incorrect settings or if there is an issue with the repository. Github is completely new to me and i'm a clicker so treat me as dumb in any answer!
https://github.com/nikitakarpenkov/iframe-lightning-component

[2020-01-29 18:32] highered1 opened #41 "Can't Connect to Sandbox"
Oauth login flow for Salesforce sandbox always fails with an "oops, something went wrong" message. Have tried clearing browser history and restarting.

<img width="1249" alt="Screen Shot 2020-01-29 at 12 31 20 PM" src="https://user-images.githubusercontent.com/60408183/73385805-67f5a900-4293-11ea-8473-e24dd9d0ecff.png">

[2020-02-10 21:32] jnylund commented on #33
Can you folks give me more info about the header option and how it is used, I am trying to deploy this package to prod - https://github.com/jongpie/ApexUuid and it is running all the unit tests (others which break) are failing the deployment.

[2020-03-01 02:06] afawcett commented on #24
This has name been fixed.

[2020-03-01 02:06] #24 closed

[2020-03-01 02:08] afawcett commented on #39
@dmgerow can you confirm the repo your using? Also i have now added support for SFDX formatted repos.

[2020-03-03 15:48] dmgerow commented on #39
@afawcett  it is in a private repository, but I tried again and it looks fixed now:
![image](https://user-images.githubusercontent.com/8942891/75792845-22b21480-5d34-11ea-9819-f3f5d6d649dc.png)

[2020-03-03 15:48] #39 closed

[2020-03-11 23:02] dpbcxc commented on #41
I am having the same issue, both with sandbox and production.

[2020-04-06 22:44] afawcett commented on #41
@highered1 @dpbcxc can you please try again thank you. Also make sure you have a brand new browser session.

[2020-04-06 22:46] afawcett commented on #33
@jnylund this is a code change to the tool that is needed, its not something you can effect, sorry.

[2020-04-06 23:39] dpbcxc commented on #41
Sorry Andy, no change:
[cid:ea2fa680-9aa9-4f98-9824-0ec23fae2746]
________________________________
From: Andrew Fawcett <notifications@github.com>
Sent: Tuesday, 7 April 2020 8:44 AM
To: afawcett/githubsfdeploy <githubsfdeploy@noreply.github.com>
Cc: Damian Blackley <damian.blackley@cxcglobal.com.au>; Mention <mention@noreply.github.com>
Subject: Re: [afawcett/githubsfdeploy] Can't Connect to Sand

[2020-04-07 00:07] afawcett commented on #41
@dpbcxc I just tested this with a DE org ( I don't own a prod org) and it worked. Also your screenshot did not come through sadly. Was this a prod or sandbox org?

[2020-04-07 01:02] dpbcxc commented on #41
Hi mate, I tested with both sandbox and prod, in chrome and edge – same result each time.  I am going to https://github.com/SalesforceLabs/Quick-Community-User-Provisioning and clicking the deploy from Github button.  I get redirected to the SF login, get asked for a verification code, which I enter, then the redirect seems to go temporarily to the remote access auth page (though nothing loads, it

[2020-04-07 01:42] afawcett commented on #41
Okey dokey... thanks for that... its seems to be something with that repo... at a guess something the name of it... I'll dig in! Thanks for raising. 👍

[2020-04-07 18:59] afawcett commented on #41
This was a problem with your button config. Please update as shown below and try again...

[code]

[2020-04-07 18:59] #41 closed

[2020-06-10 20:44] ericrsmith35 opened #42 "Error when trying to deploy (ERROR running force:source:convert:)"
Unhandled Exception : java.lang.RuntimeException: ERROR running force:source:convert: This command is required to run from within an SFDX project.

[2020-06-19 13:28] #42 closed

[2020-06-19 13:28] ericrsmith35 commented on #42
my issue

[2020-07-19 18:01] fransflippo commented on #25
Was this ever fixed? I'm getting this error now too (it's 3 years since this issue was closed, though).

[2020-07-20 18:16] afawcett commented on #25
@fransflippo  i did not making any changes

[2020-07-20 18:21] fransflippo commented on #25
OK, turns out I needed to add my IP in Settings > Security > Network Access (or use a security token, but I couldn't get that to work).
Thanks!

[2020-11-18 10:05] bobalicious opened #43 "Incorrectly defaults branch to 'master' when the default branch is set to another branch"
- Source repo has a default branch that is not `master` (e.g. `main`)
- Button code is generated without a branch defined:

E.g.
[code]

- On launching from the source repo, on the default branch, the 'Branch/Tag/Commit' field is empty (expected)
- On attempting to deploy, the deployment fails with:
    - Could not find the repository 'repo-name'. Ensure it is spelt correctly and that it is owned

[2021-01-19 03:08] salesforcecodes opened #44 "Not able to deploy public repository"
I have below public repository
`https://github.com/salesforcecodes/BarcodeToCloud`

Generated below deploy URL using githubsfdeploy tool.
`https://githubsfdeploy.herokuapp.com/app/githubdeploy/salesforcecodes/BarcodeToCloud`

It is giving below error when I try to deploy
`Could not find the repository 'BarcodeToCloud'. Ensure it is spelt correctly and that it is owned by 'salesforcecodes'`

[2021-04-15 18:02] aday12345 opened #45 "Can anyone help i need to get FFlib mocks and common deployed into production"
Hi, I am trying to install

https://github.com/apex-enterprise-patterns/fflib-apex-mocks/tree/master

and

https://github.com/apex-enterprise-patterns/fflib-apex-common

 I was able to about a month ago into a sandbox with no issues. And today I want to add this to our prod org but i keep getting an error when i try to install it:

Application error
An error occurred in the application and your pa

[2021-04-18 21:54] mitchspano opened #46 "Heroku Issue when using Deploy to Salesforce button"
I am experiencing a Heroku issue when using the button:

[https://githubsfdeploy.herokuapp.com/app/githubdeploy/financialforcedev/apex-mdapi](https://githubsfdeploy.herokuapp.com/app/githubdeploy/financialforcedev/apex-mdapi)

![image](https://user-images.githubusercontent.com/18402464/115162014-8d243200-a066-11eb-8329-e041da7e3c28.png)

Please see original issue posted at - https://github.com/mit

[2021-06-24 08:42] mhamzas commented on #44
Facing the same issue

[2021-07-13 16:37] Garywoo commented on #33
I would also find this useful. We have some managed packages in our org whose tests are incompatible with having Country/State Picklists enabled. Since we have this enabled in our org, and it's not something you want to quickly toggle off for deployment, selecting tests to run, so we can avoid those ones running during deployment with this tool would be very useful.

[2021-08-19 20:10] anjlidaryani opened #47 "Unable to install the package"
I want to install this package, I am putting forcedotcom as owner and b2b-commerce-on-lightning-quickstart
in repository and then click on 'login to salesforce' and it errors out. Can you let me know what am I doing wrong?

[2021-09-20 21:20] sac7850 opened #48 "Host in Heroku"
Hello,

Thanks for this! I am trying to host the code in my own Heroku instance.  What should the redirect url be for the Github Oauth?

Thanks!

[2022-01-18 05:05] aniketCyn commented on #42
Hey @ericrsmith35 , can you please share how you resolved this issue?

[2022-01-18 14:29] ericrsmith35 commented on #42
I'm sorry, I don't remember.

[2022-03-09 22:25] SPaulusOfficial opened #50 "Getting "Failed error" alert and redirect from github to http instead of https domain."
After successfully authenticated against Salesforce and Github, I am redirected to my app "https://clickdeploy-fluent.herokuapp.com/" but with http instead of https url. All the configs contain https urls.

If I click on "Deploy" button, I get an alert with "Failed error". If I start the full process again, it works because I am redirected to the https url.

[2022-05-18 12:59] #31 closed

[2022-07-23 01:46] PrashantkumarWebDeveloper commented on #44
This might be the issue because of the name of defualt branch. Seems like this button code looks for branch name 'master' if you do not provide the branch name option. I had the same issue when I created the defualt/main branch with name 'main'. You can try renaming the defualt branch to 'master'.

[2022-10-14 14:21] mhamzas opened #52 "1800 : There was a problem in setting up your remote access"
1800 : There was a problem in setting up your remote access

[2022-11-13 23:02] manasatangudu opened #53 "Getting Unhandled Exception"
`Unhandled Exception : java.lang.RuntimeException: /app/.local/share/sfdx/client/7.176.1-458b658/bin/node: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found (required by /app/.local/share/sfdx/client/7.176.1-458b658/bin/node)`

Getting above exception while trying to deploy to a developer org using deploy to salesforce button.

[2022-11-15 17:14] acann22 commented on #53
I'm also experiencing this issue.

`Unhandled Exception : java.lang.RuntimeException: /app/.local/share/sfdx/client/7.176.1-458b658/bin/node: /lib/x86_64-linux-gnu/libc.so.6: version `GLIBC_2.28' not found (required by /app/.local/share/sfdx/client/7.176.1-458b658/bin/node)
`

[2022-11-17 01:44] justin-lyon commented on #53
me too

![image](https://user-images.githubusercontent.com/9729366/202333463-d99a3c5d-ab09-4c79-988a-455861d75d0f.png)

[2022-11-17 15:41] acann22 commented on #53
Hoping for an update on this issue soon, this is causing a ton of disruption for us.

[2022-11-23 14:45] Tiham1 commented on #53
I am facing the same issue.

[2022-11-23 14:49] acann22 commented on #53
Hoping we see a fix soon, this has actually caused a pretty big disruption for our business

[2022-11-29 03:55] afawcett commented on #53
Looking at this now

[2022-11-29 03:58] afawcett commented on #53
Just worked for me...
<img width="1277" alt="image" src="https://user-images.githubusercontent.com/1167760/204435270-b11efeb6-8286-4e8e-8e56-e63c253a965e.png">

[2022-11-29 04:26] afawcett commented on #53
@justin-lyon i just tried with your repo and also works fine...while things seem to be fine above also - i have also redeployed apone a new Heroku stack - so curious to see if anyone can still repo this error?

<img width="609" alt="image" src="https://user-images.githubusercontent.com/1167760/204438757-275a3382-8778-4ca6-a37b-705bec31e31c.png">

[2022-11-29 04:34] justin-lyon commented on #53
@afawcett thanks i just confirmed the same. The gremlin is no longer there. i wonder what it was. nothing free tier heroku related?

![image](https://user-images.githubusercontent.com/9729366/204439440-01530a2f-554b-4882-8ec5-d58f13c9e846.png)

[2022-11-29 04:41] afawcett commented on #53
Good news. @justin-lyon - nope nothing free tier releated

[2022-11-29 04:48] #53 closed

[2022-11-29 04:49] afawcett commented on #52
@mhamzas there is a not a lot to go on here? can you elaborate?

[2022-11-29 04:51] afawcett commented on #50
@SPaulusOfficial its probably your Connected App Callback URL I am guessing.

btw,you know that this tool is deployed for general use here https://githubsfdeploy.herokuapp.com/ right?

[2022-11-29 04:51] #50 closed

[2022-11-29 04:52] afawcett commented on #47
<img width="1274" alt="image" src="https://user-images.githubusercontent.com/1167760/204441887-711e68ac-b449-4650-a36e-dc39c065e6c7.png">

[2022-11-29 04:53] afawcett commented on #47
The sfdx-project.json needs to be in the root of the repo - this has it in /sfdx sub-directory

[2022-11-29 04:53] #47 closed

[2022-11-29 04:56] afawcett commented on #44
Correct deduction - this works - https://githubsfdeploy.herokuapp.com/app/githubdeploy/salesforcecodes/BarcodeToCloud?ref=main - i'll flag. this as an enhancement though

[2022-11-29 04:57] afawcett commented on #45
These are now working

[2022-11-29 04:57] #45 closed

[2022-11-29 04:58] afawcett commented on #46
this is now working

[2022-11-29 04:58] #46 closed

[2022-11-29 04:58] #52 closed

[2022-11-29 07:49] Tiham1 commented on #53
@afawcett It is resolved now. Thanks